h2 {
    background-color: rgb(230, 198, 151); 
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 34px;

}
/*suwak 
input[type="range"] {
    -webkit-appearance: none;
    width: 200px;
    height: 8px;
    background: #ddd;
    border-radius: 5px;
    outline: none;
}
    
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: #4CAF50;
    border-radius: 50%;
    cursor: pointer;
}*/
th {
    background-color: #e4e695;
    color: rgb(15, 19, 2);
    font-weight: bold;
    padding: 10px;
}
td {
    background-color: #d4ce58;
    padding: 8px;
}
#title {
    background-color: #569972;
}
#author {
    background-color: #569972;
}
#description {
    background-color: rgb(202, 224, 224);
    width: 400px;
    height: 50px;
}
#bookrating {
    width: 40px;
    height: 40px;
}
input, select {
    background-color: rgb(204, 176, 176); /* Tło pola */

}
input, select {
    color: rgb(0, 0, 0); /* Kolor czcionki */
    width: 400px; /* Szerokość */
    height: 40px; /* Wysokość */
}



body {
    background-color: rgb(69, 80, 70); /* Zmiana tła  */
}
td {
    text-align: center;
    padding: 8px;
}

input[type="submit"] {  /*przycisk */
    background-color: rgb(46, 202, 41);
    width: auto;
    color: black, strong;
    border: none;
    cursor: pointer;
    border: 2px solid rgb(22, 95, 27); /* Czarna obwódka */
    padding: 8px 12px;
    font-size: 16px;
}

a[href*="sort_by=author"] {
    color: blue; /* Zmienia kolor tekstu na niebieski */
    font-weight: bold; /* Opcjonalnie: pogrubienie */
    text-decoration: none; /* Usuwa podkreślenie */
    font-size: 20px;
    font-weight: bold;
}

a[href*="sort_by=author"]:hover {
    color: rgb(0, 0, 0); /* Zmienia kolor po najechaniu */
    text-decoration: underline; /* Dodaje podkreślenie */
}

a[href*="sort_by=rating"] {
    color: green; /* Zmienia kolor tekstu na zielony */
    font-weight: bold; /* Opcjonalnie: pogrubienie */
    text-decoration: none; /* Usuwa podkreślenie */
    font-size: 20px;
    font-weight: bold;
}

a[href*="sort_by=rating"]:hover {
    color: rgb(0, 0, 0); /* Zmienia kolor po najechaniu */
    text-decoration: underline; /* Dodaje podkreślenie */
}

td a {
    color: darkblue; /* Ustawia kolor czcionki */
    font-size: 18px; /* Powiększa czcionkę */
    font-weight: bold; /* Pogrubia tekst */
    text-decoration: none; /* Usuwa podkreślenie */
}

td a:hover {
    color: navy; /* Zmienia kolor po najechaniu */
    text-decoration: underline; /* Dodaje podkreślenie po najechaniu myszką */
}