h2 {
    background-color: rgb(230, 198, 151); /* Możesz zmienić na inny kolor */
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 34px;

}
/*suwak 
input[type="range"] {
    -webkit-appearance: none;
    width: 200px;
    height: 8px;
    background: #ddd;
    border-radius: 5px;
    outline: none;
}
    
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: #4CAF50;
    border-radius: 50%;
    cursor: pointer;
}*/
th {
    background-color: #e6dada;
    color: rgb(15, 19, 2);
    font-weight: bold;
    padding: 10px;
}
td {
    background-color: #beb420;
    padding: 8px;
}
#title {
    background-color: #6d5699;
}
#author {
    background-color: #6d5699;
}
#description {
    background-color: aqua;
    width: 400px;
    height: 50px;
}
#bookrating {
    width: 40px;
    height: 40px;
}
input, select {
    background-color: rgb(204, 176, 176); /* Tło pola */

}
input, select {
    color: rgb(15, 15, 126); /* Kolor czcionki */
    width: 400px; /* Szerokość */
    height: 40px; /* Wysokość */
}



body {
    background-color: rgb(69, 80, 70); /* Zmiana tła na jasnoniebieski */
}
td {
    text-align: center;
    padding: 8px;
}

input[type="submit"] {  /*przycisk */
    background-color: yellowgreen;
    width: auto;
    color: black, strong;
    border: none;
    cursor: pointer;
    border: 2px solid rgb(21, 114, 27); /* Czarna obwódka */
    padding: 8px 12px;
    font-size: 16px;
}